.box,
.form {
  max-width: 700px;
  margin: 0 auto;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 10px; */
  padding: 10px;
  background-color: #f2e8d6;
  /* border: 1px solid black; */
  justify-self: end;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  /* background-color: #fff; */
  border: 1px solid black;
  /* border-radius: 5px; */
  font-size: 2cqh;
  /* font-weight: bold; */
}

.day:hover {
  background-color: white;
}

.weekday {
  border: 1px solid black;

  /* font-weight: bold; */
  text-align: center;
  padding: 2px 0;
}

.year {
  grid-column: span 2;
  /* padding: 45% 0% 0% 10%; */
  font-size: 5cqw;
  align-self: end;
  margin-bottom: 2%;
  text-align: right;
}
.month {
  grid-column: span 5;
  /* padding-top: 9%; */
  /* padding-bottom: 20px; */
  font-size: 11cqw;
  align-self: end;
  padding: 0px;
  margin: 0px;
}

@media (width >=400px) {
  .day {
    justify-content: right;
    align-items: baseline;
    height: 50px;
    padding: 4px;
  }

  .year {
    padding: 42% 0% 0% 2%;
  }
}

@media (width >=700px) {
  .day {
    height: 70px;
    padding: 7px;
  }

  .year {
    padding: 42% 0% 0% 0%;
    font-size: 40.7px;
  }

  .month {
    font-size: 78px;
  }
}
