.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 10px; */
  padding: 20px;
  background-color: #f2e8d6;
  border: 1px solid black;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: #fff;
  border: 1px solid black;
  /* border-radius: 5px; */
  font-size: 14px;
  /* font-weight: bold; */
}

.weekday {
  /* font-weight: bold; */
  text-align: center;
  padding: 2px 0;
}

.year {
  grid-column: span 5;
  padding: 20px 0px 20px 20px;
}
.month {
  grid-column: span 2;
  /* display: flex; */
  padding-top: 20px;
  padding-bottom: 20px;
}
