#skål{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;


}

.grid-2 h2{
    margin-top: 0em;
}

.grid-2 p{
    margin-right: 1em;
    text-align: justify;
}

#lottie{
    margin-top: -4em;
    margin-bottom: -6em;
    width: 100%;
    height: 100%;
}

.grid-5 {
    margin-top: 3em;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 11px;
    scrollbar-width: none;

}

.grid-5 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit:cover ;
}

.grid-5 .col {
    flex: 0 0 45%;
}

.grid-5::-webkit-scrollbar {
    display: none; }

#skål2{
    display: none;
}


/*DESKTOP*/

@media (width >=1200px) {
    .grid-5 {
        margin-top: 3em;
        display: flex;
        overflow-x: scroll;
        gap: -30em;
        scroll-behavior: smooth;
        scrollbar-width: none;
    
    }
    
    .grid-5 img{
        width: 100%;
        aspect-ratio: 4/3;
        object-fit:cover ;
    }
    
    .grid-5 .col {
        flex: 0 0 25%;
    }
    
    .grid-5::-webkit-scrollbar {
        display: none; }

    #skål2{
        display: block;
        width: 100%;
    }
    
    .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5em;
        margin-top: 3em;
        margin-bottom: -17em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .grid-2 h2{
        font-size: 40px;
        margin-top: 0.2em;
    }
    .grid-2 img{
        aspect-ratio: 4/3;
        object-fit: cover;

    }
    .grid-2 #skål{
        aspect-ratio: 4/3;
        object-fit: cover;
    }

    #lottie{
        margin-bottom: -20.5em;
    }

}