/* ********************* burgermenu ******************/

/* body {
  max-width: 1200px;
  margin: 0 auto;
} */
.burger-menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: #771515;
  width: 100%;
}
#burger-toggle {
  display: none;
}

/* vis burger icon i mobile view */
.burger-menu {
  display: block;
}

/* skjul menuen */
nav ul {
  display: none;
  background: #771515;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 32.1%;
  height: 100%; /* bredden er 100% minus højre/venstre padding */
}

/* vis menu når checkbox er checked */
#burger-toggle:checked + label + nav ul {
  display: block;
}

nav a {
  padding: 3px 0 4px 5px; /* Juster efter hvor høje menupunkterne skal være */
  line-height: 2.5em;
  width: 100%;
  display: inline-block;
  color: #f2e8d9;
  font-size: 3em;
  text-decoration: none;
  padding-left: 10px;
}

nav a:hover {
  color: white;
}

#burger-toggle:checked + label {
  color: #f2e8d9; /* Ændret farve når den er checked */
  background-color: #771515; /* Ekstra: Ændret baggrundsfarve */
}

#Book {
  text-align: right;
}

#Book a {
  color: #771515;
  list-style: none;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  text-decoration: none;
  border: #771515 3px solid;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tilføj skygge */
  transform: translateY(-2px); /* Let løft */
  padding: 7px 15px;
}

#Book a:hover {
  background-color: #771515; /* Skift baggrundsfarve */
  color: #f2e8d6; /* Skift tekstfarve */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tilføj skygge */
  transform: translateY(-2px); /* Let løft */
}

#logo {
  padding-top: 10px;
}

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #771515;
}

footer li {
  list-style: none;
  color: #f2e8d6;
  line-height: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer li a {
  color: #f2e8d9;
  line-height: 2em;
  margin-top: 1em;
}

#højre {
  text-align: right;
  padding-right: 1em;
}

#venstre {
  padding-left: 1em;
}

body {
  background-color: #f2e8d9;
}

#logo {
  width: 100%;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: space-between;
  align-items: center;
}

@media (width >=800px) {
  .burger-menu {
    font-size: 3rem;
  }
  #logo {
    width: 60%;
    margin-left: 7.5cqw;
  }
  #Book a{
    font-size: 22px;
  }

  nav a {
    font-size: 3em;
  }
  nav ul {
    width: 33%;}
}
