/* Variabler */
html {
  --writingmode: vertical-rl;
  --orientation: mixed;
  --bold: bold;
}
h1 {
  text-align: right;
  margin-right: 20%;
}
.grid_menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(4, auto);
  gap: 2px;
  width: 80%;
  max-width: 1000px;
}
.grid_item {
  background-color: #c6bfb3;
  border: 1px solid #472e2e;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  font-weight: light;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tom1 {
  grid-column: 1/2;
  display: none;
}
.beers {
  grid-column: 2 / 3;
  grid-row: 1/2;
  writing-mode: var(--writingmode);
  text-orientation: var(--orientation);
  font-weight: var(--bold);
  transform: rotate(180deg);
}
.oel {
  grid-column: 3/7;
  grid-row: 1/2;
}

.drinks {
  grid-column: 1/2;
  grid-row: 2/3;
  writing-mode: var(--writingmode);
  text-orientation: var(--orientation);
  font-weight: var(--bold);
  transform: rotate(180deg);
}
.drink {
  grid-column: 2/6;
  grid-row: 2/3;
}
.tom2 {
  grid-column: 1/2;
  grid-row: 3/4;
  display: none;
}
.wine {
  grid-column: 2/3;
  grid-row: 3/4;
  writing-mode: var(--writingmode);
  text-orientation: var(--orientation);
  font-weight: var(--bold);
  transform: rotate(180deg); /*gør at teksten skrives nedefra frem for oppefra*/
}
.vin {
  grid-column: 3/7;
  grid-row: 3/4;
}
.shots {
  grid-column: 5/6;
  grid-row: 4/5;
  writing-mode: var(--writingmode);
  text-orientation: var(--orientation);
  font-weight: var(--bold);
}
.shot {
  grid-column: 1/5;
  grid-row: 4/5;
}
.handmadder {
  grid-column: 2/3;
  grid-row: 5/5;
  writing-mode: var(--writingmode);
  text-orientation: var(--orientation);
  font-weight: var(--bold);
  transform: rotate(180deg);
}
.tom3 {
  grid-column: 1/2;
  grid-row: 5/5;
  display: none;
}
.madder {
  grid-column: 3/7;
  grid-row: 5/5;
}
/* får at billederne ikke bliver vist i mobile version */
@media (width < 800px) {
  .billeder_vertikalt {
    display: none;
  }
}
@media (width > 800px) {
  .menu1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: end;
    gap: 200px;
  }
  .grid_menu {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    padding-top: 15%;
  }
  .billeder_vertikalt img {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: auto;
    margin-bottom: 25px;
  }
  .billeder_vertikalt {
    grid-row: 1/3;
  }
  .grid_item {
    max-width: 300px;
    max-height: 160px;
  }
}
